{:highlights [{:id #uuid "649185ab-075d-4d0a-ac8a-93a70d2e6fd0",
               :page 36,
               :position {:bounding {:x1 0,
                                     :y1 126.00000286102295,
                                     :x2 625.1349487304688,
                                     :y2 312.1354293823242,
                                     :width 710.9999999999999,
                                     :height 920.1176470588234},
                          :rects ({:x1 0,
                                   :y1 126.00000286102295,
                                   :x2 0,
                                   :y2 145.33333492279053,
                                   :width 710.9999999999999,
                                   :height 920.1176470588234}
                                  {:x1 361.38323974609375,
                                   :y1 282.1041793823242,
                                   :x2 625.1349487304688,
                                   :y2 296.1041793823242,
                                   :width 710.9999999999999,
                                   :height 920.1176470588234}
                                  {:x1 83.64583587646484,
                                   :y1 298.1354293823242,
                                   :x2 500.09700775146484,
                                   :y2 312.1354293823242,
                                   :width 710.9999999999999,
                                   :height 920.1176470588234}),
                          :page 36},
               :content {:text "机的学习策略，特别是损失函数；最后介绍感知机学习算法，包括原始形式和对偶形式，并证明算法的收敛性。"},
               :properties {:color "yellow"}}],
 :extra {:page 32}}
