{:highlights [{:id #uuid "6513cf5d-f43c-47a5-a14e-08b00f957fa2",
               :page 30,
               :position {:bounding {:x1 0,
                                     :y1 270,
                                     :x2 699.3327026367188,
                                     :y2 755.9375,
                                     :width 799.9999999999999,
                                     :height 1035.2941176470586},
                          :rects ({:x1 0,
                                   :y1 270,
                                   :x2 0,
                                   :y2 290,
                                   :width 799.9999999999999,
                                   :height 1035.2941176470586}
                                  {:x1 0,
                                   :y1 286,
                                   :x2 0,
                                   :y2 306,
                                   :width 799.9999999999999,
                                   :height 1035.2941176470586}
                                  {:x1 0,
                                   :y1 302,
                                   :x2 0,
                                   :y2 322,
                                   :width 799.9999999999999,
                                   :height 1035.2941176470586}
                                  {:x1 0,
                                   :y1 318,
                                   :x2 0,
                                   :y2 338,
                                   :width 799.9999999999999,
                                   :height 1035.2941176470586}
                                  {:x1 0,
                                   :y1 334,
                                   :x2 0,
                                   :y2 354,
                                   :width 799.9999999999999,
                                   :height 1035.2941176470586}
                                  {:x1 517.671875,
                                   :y1 648.703125,
                                   :x2 527.796875,
                                   :y2 669.703125,
                                   :width 799.9999999999999,
                                   :height 1035.2941176470586}
                                  {:x1 591.671875,
                                   :y1 648.703125,
                                   :x2 601.140625,
                                   :y2 669.703125,
                                   :width 799.9999999999999,
                                   :height 1035.2941176470586}
                                  {:x1 329.37225341796875,
                                   :y1 650.671875,
                                   :x2 697.14892578125,
                                   :y2 665.671875,
                                   :width 799.9999999999999,
                                   :height 1035.2941176470586}
                                  {:x1 94.078125,
                                   :y1 668.78125,
                                   :x2 674.4702758789062,
                                   :y2 684.46875,
                                   :width 799.9999999999999,
                                   :height 1035.2941176470586}
                                  {:x1 360.796875,
                                   :y1 684.828125,
                                   :x2 387.7930908203125,
                                   :y2 705.828125,
                                   :width 799.9999999999999,
                                   :height 1035.2941176470586}
                                  {:x1 513.265625,
                                   :y1 684.828125,
                                   :x2 558.219970703125,
                                   :y2 705.828125,
                                   :width 799.9999999999999,
                                   :height 1035.2941176470586}
                                  {:x1 125.515625,
                                   :y1 686.796875,
                                   :x2 699.3327026367188,
                                   :y2 702.484375,
                                   :width 799.9999999999999,
                                   :height 1035.2941176470586}
                                  {:x1 392.15625,
                                   :y1 702.84375,
                                   :x2 402.28125,
                                   :y2 723.84375,
                                   :width 799.9999999999999,
                                   :height 1035.2941176470586}
                                  {:x1 576,
                                   :y1 702.84375,
                                   :x2 585.46875,
                                   :y2 723.84375,
                                   :width 799.9999999999999,
                                   :height 1035.2941176470586}
                                  {:x1 94.078125,
                                   :y1 704.8125,
                                   :x2 697.163330078125,
                                   :y2 720.5,
                                   :width 799.9999999999999,
                                   :height 1035.2941176470586}
                                  {:x1 156.875,
                                   :y1 720.859375,
                                   :x2 165.421875,
                                   :y2 741.859375,
                                   :width 799.9999999999999,
                                   :height 1035.2941176470586}
                                  {:x1 94.078125,
                                   :y1 722.828125,
                                   :x2 698.0520629882812,
                                   :y2 738.515625,
                                   :width 799.9999999999999,
                                   :height 1035.2941176470586}
                                  {:x1 94.078125,
                                   :y1 740.9375,
                                   :x2 407.8036193847656,
                                   :y2 755.9375,
                                   :width 799.9999999999999,
                                   :height 1035.2941176470586}),
                          :page 30},
               :content {:text "是因为模型表示了给定输入X产生输出Y的生成关系。典型的生成模型有：朴素贝叶斯法和隐马尔可夫模型，将在后面章节进行相关讲述。判别方法由数据直接学习决策函数f(X)或者条件概率分布P(Y|X)作为预测的模型，即判别模型。判别方法关心的是对给定的输入X，应该预测什么样的输出Y。典型的判别模型包括：k近邻法、感知机、决策树、逻辑斯谛回归模型、最大熵模型、支持向量机、提升方法和条件随机场等，将在后面章节讲述。"},
               :properties {:color "red"}}
              {:id #uuid "6513cf8a-68ef-409e-b97b-5b7f782f9f82",
               :page 31,
               :position {:bounding {:x1 0,
                                     :y1 222,
                                     :x2 704.025146484375,
                                     :y2 609.25,
                                     :width 799.9999999999999,
                                     :height 1035.2941176470586},
                          :rects ({:x1 0,
                                   :y1 222,
                                   :x2 0,
                                   :y2 242,
                                   :width 799.9999999999999,
                                   :height 1035.2941176470586}
                                  {:x1 0,
                                   :y1 238,
                                   :x2 0,
                                   :y2 258,
                                   :width 799.9999999999999,
                                   :height 1035.2941176470586}
                                  {:x1 439.1875,
                                   :y1 556.25,
                                   :x2 496.669921875,
                                   :y2 577.25,
                                   :width 799.9999999999999,
                                   :height 1035.2941176470586}
                                  {:x1 590.796875,
                                   :y1 556.25,
                                   :x2 625.6199340820312,
                                   :y2 577.25,
                                   :width 799.9999999999999,
                                   :height 1035.2941176470586}
                                  {:x1 125.515625,
                                   :y1 558.109375,
                                   :x2 704.025146484375,
                                   :y2 573.796875,
                                   :width 799.9999999999999,
                                   :height 1035.2941176470586}
                                  {:x1 658.796875,
                                   :y1 574.265625,
                                   :x2 668,
                                   :y2 595.265625,
                                   :width 799.9999999999999,
                                   :height 1035.2941176470586}
                                  {:x1 94.078125,
                                   :y1 576.234375,
                                   :x2 697.99755859375,
                                   :y2 591.921875,
                                   :width 799.9999999999999,
                                   :height 1035.2941176470586}
                                  {:x1 94.078125,
                                   :y1 594.25,
                                   :x2 250.9408721923828,
                                   :y2 609.25,
                                   :width 799.9999999999999,
                                   :height 1035.2941176470586}),
                          :page 31},
               :content {:text "对于二类分类问题常用的评价指标是精确率（precision）与召回率（recall）。通常以关注的类为正类，其他类为负类，分类器在测试数据集上的预测或正确或不正确，4种情况出现的总数分别记作"},
               :properties {:color "blue"}}],
 :extra {:page 31}}
