{:highlights [{:id #uuid "64435ea9-bf68-41a2-91f6-064e6e201558",
               :page 1,
               :position {:bounding {:x1 107.48958587646484,
                                     :y1 104.92708587646484,
                                     :x2 370.7798385620117,
                                     :y2 121.59375,
                                     :width 711,
                                     :height 1005.5281370737443},
                          :rects ({:x1 107.48958587646484,
                                   :y1 104.92708587646484,
                                   :x2 370.7798385620117,
                                   :y2 121.59375,
                                   :width 711,
                                   :height 1005.5281370737443}),
                          :page 1},
               :content {:text "一切物体在没有收到力的作用时（或者二力平衡"},
               :properties {:color "yellow"}}
              {:id #uuid "64435ecd-c845-457f-afbd-60e81e3cbffa",
               :page 1,
               :position {:bounding {:x1 799,
                                     :y1 132,
                                     :x2 822,
                                     :y2 204,
                                     :width 992.1666666666665,
                                     :height 1403.1666666666665},
                          :rects (),
                          :page 1},
               :content {:text "[:span]", :image 1682136780619},
               :properties {:color "yellow"}}
              {:id #uuid "64436079-be97-40df-9900-9e7773e39b6b",
               :page 1,
               :position {:bounding {:x1 154.84652709960938,
                                     :y1 216.71875,
                                     :x2 443.1497497558594,
                                     :y2 233.3854217529297,
                                     :width 711,
                                     :height 1005.5281370737443},
                          :rects ({:x1 154.84652709960938,
                                   :y1 216.71875,
                                   :x2 443.1497497558594,
                                   :y2 233.3854217529297,
                                   :width 711,
                                   :height 1005.5281370737443}),
                          :page 1},
               :content {:text "惯性是指物质保持静止或者保持匀速直线运动的状态"},
               :properties {:color "yellow"}}
              {:id #uuid "64436081-616b-4263-b747-c31ee179238e",
               :page 1,
               :position {:bounding {:x1 207.78887939453125,
                                     :y1 253.9791717529297,
                                     :x2 471.10595703125,
                                     :y2 270.6458435058594,
                                     :width 711,
                                     :height 1005.5281370737443},
                          :rects ({:x1 207.78887939453125,
                                   :y1 253.9791717529297,
                                   :x2 471.10595703125,
                                   :y2 270.6458435058594,
                                   :width 711,
                                   :height 1005.5281370737443}),
                          :page 1},
               :content {:text "惯性力。惯性大小仅取决于质量。惯性是标量。"},
               :properties {:color "yellow"}}
              {:id #uuid "6443609f-9fb0-47fb-9644-4adbab5d1975",
               :page 1,
               :position {:bounding {:x1 243.5,
                                     :y1 291.25,
                                     :x2 444.02154541015625,
                                     :y2 307.91668701171875,
                                     :width 711,
                                     :height 1005.5281370737443},
                          :rects ({:x1 243.5,
                                   :y1 291.25,
                                   :x2 444.02154541015625,
                                   :y2 307.91668701171875,
                                   :width 711,
                                   :height 1005.5281370737443}),
                          :page 1},
               :content {:text "保持静止状态或者匀速直线运动状态"},
               :properties {:color "green"}}
              {:id #uuid "6443621a-1747-491a-b93e-cd2c9e504303",
               :page 1,
               :position {:bounding {:x1 267.6417236328125,
                                     :y1 328.51043701171875,
                                     :x2 292.718017578125,
                                     :y2 345.1770935058594,
                                     :width 711,
                                     :height 1005.5281370737443},
                          :rects ({:x1 267.6417236328125,
                                   :y1 328.51043701171875,
                                   :x2 292.718017578125,
                                   :y2 345.1770935058594,
                                   :width 711,
                                   :height 1005.5281370737443}),
                          :page 1},
               :content {:text "贡献"},
               :properties {:color "green"}}
              {:id #uuid "6443640b-d02e-4b7b-833b-d49362a7bfc0",
               :page 1,
               :position {:bounding {:x1 219,
                                     :y1 122,
                                     :x2 477,
                                     :y2 170,
                                     :width 711,
                                     :height 1005.5281370737443},
                          :rects (),
                          :page 1},
               :content {:text "[:span]", :image 1682138122618},
               :properties {:color "yellow"}}
              {:id #uuid "644a028d-8c71-48bc-96c8-1e9c0fd95b49",
               :page 1,
               :position {:bounding {:x1 328.6018371582031,
                                     :y1 364.7395935058594,
                                     :x2 403.61279296875,
                                     :y2 381.40625,
                                     :width 709,
                                     :height 1002.6996472366874},
                          :rects ({:x1 328.6018371582031,
                                   :y1 364.7395935058594,
                                   :x2 403.61279296875,
                                   :y2 381.40625,
                                   :width 709,
                                   :height 1002.6996472366874}),
                          :page 1},
               :content {:text "力大小和方向"},
               :properties {:color "red"}}
              {:id #uuid "644a02f0-a9d1-4f74-ad52-f8a14701e786",
               :page 3,
               :position {:bounding {:x1 164.81250762939453,
                                     :y1 796.8125,
                                     :x2 476.15628814697266,
                                     :y2 820.1458740234375,
                                     :width 992.1666666666665,
                                     :height 1403.1666666666665},
                          :rects ({:x1 164.81250762939453,
                                   :y1 796.8125,
                                   :x2 476.15628814697266,
                                   :y2 820.1458740234375,
                                   :width 992.1666666666665,
                                   :height 1403.1666666666665}
                                  {:x1 173.59375762939453,
                                   :y1 800.1458740234375,
                                   :x2 471.06217193603516,
                                   :y2 817.5625,
                                   :width 992.1666666666665,
                                   :height 1403.1666666666665}),
                          :page 3},
               :content {:text " 升降机静止在十楼时对人的支持力小于 "},
               :properties {:color "green"}}
              {:id #uuid "644a02f7-0624-4b10-94fc-d543380c11c0",
               :page 3,
               :position {:bounding {:x1 182.0438003540039,
                                     :y1 848.8125,
                                     :x2 635.3312149047852,
                                     :y2 872.1458740234375,
                                     :width 992.1666666666665,
                                     :height 1403.1666666666665},
                          :rects ({:x1 182.0438003540039,
                                   :y1 848.8125,
                                   :x2 635.3312149047852,
                                   :y2 872.1458740234375,
                                   :width 992.1666666666665,
                                   :height 1403.1666666666665}
                                  {:x1 234.40625762939453,
                                   :y1 852.1458740234375,
                                   :x2 543.4667129516602,
                                   :y2 869.5625,
                                   :width 992.1666666666665,
                                   :height 1403.1666666666665}),
                          :page 3},
               :content {:text "降机以 2m/s 速度匀速下降时对人的支持力等于 "},
               :properties {:color "blue"}}],
 :extra {:page 3}}
